.driver-approval-page {
  width: 100%;
  height: 100%;
/*   display: flex;
  flex-direction: column; */
}

.driver-approval-page-navarea {
  height: 150px;
}

.data-area {
  top: 2%;
  position: relative;
  display: flex;
  flex-direction: column; 
  gap: 20px;
  justify-content: center;
  align-items: center; 
}